body{
    background-color: darkslategray;
    text-align: left;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*section{
    background: url(Africanfood.jpg) no-repeat;
    background-size:cover;
    height: calc(100vh - 80px);
}*/
.background_image{
    background-image: url('./Africanfood.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 120px;
}
/*viewport is vh*/
*{
    margin: 0;
    padding: 0;
}